.idea/workspace.xml
*.pyc
*.xml
.idea/misc.xml
.idea/Virtual-stand-for-project-demonstration.iml
*.xml
.idea/Virtual-stand-for-project-demonstration.iml
.idea/.name
.idea/misc.xml
.idea/Virtual-stand-for-project-demonstration.iml
