.idea/workspace.xml
.idea/workspace.xml
backend/__pycache__/auth.cpython-313.pyc
backend/core/__pycache__/adminexport.cpython-313.pyc
backend/core/__pycache__/adminlogin.cpython-313.pyc
backend/core/__pycache__/mainpage.cpython-313.pyc
backend/core/__pycache__/registration.cpython-313.pyc
.idea/
__pycache__/
*.pyc
