<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
</head>
<body>
  <div class="searchContainer">
      <h1>Virtual Stand</h1>
    <form id="searchForm">
      <input type="text" id="searchInput" name="query" placeholder="Поиск..." autocomplete="off">
      <button type="submit">Искать</button>
    </form>
    </div>
    <div class="top-bar">
      <button name="dedlines">Курсы</button>
    </div>
        <div class="cards-wrapper">
            <section id="cardsContainer"></section>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/cardscourses.js') }}"></script>

</body>
</html>